<button (click)="modal4.toggle()">
    Mostrar modal
</button>

<app-modal #modal4>
    <Button (click)="modal.toggle()">API 1 (Dogs Html)</Button>
    <Button (click)="modal2.toggle()">API 2 (Cat Html)</Button>
    <Button (click)="modal3.toggle()">API 3 (Tag Cats)</Button>
    <!-- Modal 1 -->
    <app-modal #modal>
        <input type="number" [(ngModel)]="statusCode"/>
        <button (click)="modal11.toggle()" (click)="consultar()">
            Mostrar modal
        </button>
        <app-modal #modal11>
            <img *ngIf="linkImage" [src]="linkImage" style="max-width: 300px;"/>
            <button (click)="modal11.toggle()">Fechar modal</button>
        </app-modal>
        <button (click)="modal.toggle()">Sair</button>
    </app-modal>
    <!-- Fim modal 1 -->
    <!-- Modal 2 -->
    <app-modal #modal2>
        <input type="number" [(ngModel)]="statusCode"/>
        <button (click)="modal22.toggle()" (click)="consultar2()">Abrir Api</button>
        <button (click)="modal2.toggle()">Sair</button>
        <app-modal #modal22>
            <img *ngIf="linkImage2" [src]="linkImage2" style="max-width: 300px;">
            <button (click)="modal22.toggle()">Fechar modal</button>
        </app-modal>
    </app-modal>
    <!-- Fim modal 2 -->
    <!-- Api 3 -->
    <app-modal #modal3>
        <select [(ngModel)]="selectedTag">
            <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
        </select>
        <button (click)="modal33.toggle()" (click)="consultar3()">Abrir Api</button>
        <button (click)="modal3.toggle()">Sair</button>
        <app-modal #modal33>
            <img *ngIf="linkImage3" [src]="linkImage3" style="max-width: 300px;">
            <button (click)="modal33.toggle()">Fechar modal</button>
        </app-modal>
    <!-- Fim Api 3 -->
</app-modal>